{{!-- <!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}} --}}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="has-text-centered is-size-1">
        <span role="img" aria-label="money">💸</span>
        <a href="/" class="">Budget Blueprint!</a>
      </h1>
  
<div class="columns">
  <div class="column is-half">
      <div class="field">
  <label class="label">Search for a City!</label>
  <div class="control">
    <input id="searchinput" class="input is-medium" type="text" placeholder="San Francisco,CA">
    <button class= "button is-primary" id = "searchbtn"> Search </button>
    

<div class="column is-half">
    <h2 class="level-item subtitle is-4 has-text-weight-semibold">Results: </h2>
</div>

<script src="/js/search.js"></script>